@font-face {
  font-family: Shabnam;
  src: url("./assetes/fonts/Shabnam.woff") format("woff");
}
/* GLOBAL STYLES */
html,
body {
  width: 100%;
  height: 100%;
  direction: rtl;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Shabnam;
}
/* P, H2  */
h2 {
  font-size: 6rem;
  color: #00a27b;
}
p {
  font-size: 2rem;
}
header {
  min-height: 20vh;
}
.underline {
  border-bottom: 0.4rem solid #00a27b;
}
/* Download button */
.download-btn {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  background-color: #f57f25;
  border-radius: 2rem;
  color: white;
}
/* Navbar */
.navbar {
  background-color: #e0e0e0;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.navbar-toggler,
.navbar-toggler-icon {
  font-size: 2rem;
  color: #00a27b !important;
  border: none;
  margin: 0;
}
.fal {
  color: #00a27b;
}
/* LOGO */
.logo {
  position: relative;
}
.logo img {
  margin: 8rem 6rem 8rem 1rem;
}
.logo h3,
.logo-desktop h3 {
  color: #00a27b;
  font-size: 3rem;
}
.logo::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(./assetes/img/009_logo_Bg.svg);
  background-repeat: no-repeat;
  top: 0;
  right: -18rem;
  width: 50rem;
  height: 50rem;
}
.navbar-desktop ul li {
  font-size: 2rem;
}
ul li {
  list-style: none;
  font-size: 2rem;
}
.bg-svg img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 7vw;
  max-width: 40rem;
}

.section1 {
  min-height: 80vh;
}
.divider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.divider img {
  max-width: 100%;
}
.divider #second {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  right: 20rem;
}
.icons img {
  fill: #00a27b;
  border-radius: 50%;
  padding: 1rem;
  border: 0.1rem solid #00a27b;
}
.icons::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 50%;
  transform: translateX(-50%);
  width: 0.3rem;
  height: 100%;
  background-color: #00f5bb;
}
.section2 {
  min-height: 100vh;
}
.section2 h2 {
  font-size: 4rem;
}
.section3 {
  min-height: 100vh;
}
.section3 h2 {
  font-size: 4rem;
}
#telephone {
  font-size: 2rem;
  direction: ltr;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2),
    0rem -1rem 5rem rgba(0, 0, 0, 0.2);
  margin: 3rem 0;
}
.section3 .download-btn {
  background-image: linear-gradient(to bottom, #fe8361, #e45326);
  width: 20rem;
}
.direct-download button,
.googleplay-download button,
.bazaar-download button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(to bottom, #02efbb, #00a885);
  color: white;
}
.photo {
  min-height: 30rem;
  overflow: hidden;
  position: relative;
  padding: 1rem;
}
.photo::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url(./assetes/img/023_amadegisafar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-dektop {
  position: relative;
  width: 100%;
  min-height: 30rem;
}
.photo-dektop img {
  position: absolute;
  z-index: -1;
  right: 0;
}
.photo-dektop h2 {
  font-size: 3vw;
  padding-top: 7rem;
}
.photo-dektop button {
  margin-top: 8rem;
}
.photo-dektop p {
  font-size: 1.4vw;
}
.section4 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.gallary {
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 4rem 0 0 0;
}
.cards {
  flex: 0 0 auto;
  margin: 0 2rem;
}
.cards img,
.photos img {
  width: 50rem;
  height: 25rem;
  border-radius: 3rem;
}
.Email {
  width: 100%;
  padding: 10rem 0;
}
#Email {
  width: 50rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
  height: 3rem;
  padding: 3rem;
  box-shadow: 1rem 1rem 4rem #ccc;
}
.email-btn {
  margin-top: 4rem;
}
.email-btn .download-btn {
  background-image: linear-gradient(to bottom, #fe8361, #e45326);
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
}
footer {
  min-height: 21rem;
  background: url(./assetes/img/025_footer_Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  position: relative;
}
.copyRight {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  bottom: 0;
  right: 0;
  width: 60rem;
}
.copyRight p {
  font-size: 0.8vw;
}
.copyRight #camel {
  position: absolute;
  bottom: 170%;
}
.copyRight #bg-dark {
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
}
.social-media {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}
.twitter {
  position: absolute;
  bottom: 40%;
}
.instagram {
  position: absolute;
  bottom: 24%;
  left: 25.55%;
}
.telegram {
  position: absolute;
  bottom: 14%;
  left: 22%;
}
footer h4 {
  font-size: 1.1vw;
}
@media only screen and (max-width: 767px) {
  .icons::before {
    display: none;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
  h2,
  h3 {
    font-size: 3rem !important;
  }
  .Email {
    background-color: #e2fffa;
  }
  .form {
    display: block !important;
  }
  footer {
    background-color: #005842;
  }
  footer h4 {
    font-size: 1.5rem;
  }
  footer ul li {
    font-size: 3vw;
  }
  .twitter,
  .instagram,
  .telegram {
    position: static;
    padding: 0;
  }
  .twitter img,
  .instagram img,
  .telegram img {
    width: 4rem;
    height: 4rem;
  }
  #Email {
    width: 80%;
  }
}
@media screen and (max-width: 1714px) and (min-width: 771px) {
  .photo-dektop h2 {
    padding-top: 3rem;
  }
  .photo-dektop button {
    margin-top: 2rem;
  }

  .copyRight #bg-dark {
    width: 30rem;
    position: absolute;
    z-index: -1;
    right: 0;
  }
}
@media screen and (max-width: 1714px) and (min-width: 990px) {
  .twitter {
    bottom: 40%;
    left: 30%;
  }
  .instagram {
    left: 24%;
    bottom: 30%;
  }
  .telegram {
    left: 18%;
    bottom: 27%;
  }
}
@media screen and (max-width: 1713px) and (min-width: 1258px) {
  .twitter {
    bottom: 50%;
    left: 30%;
  }
  .instagram {
    left: 25.5%;
    bottom: 34%;
  }
  .telegram {
    left: 20%;
    bottom: 27%;
  }
}
